body #dashboard {
  float: left;
  background: #FFF;
  width: 58em;
  height: 50em; }
body #stream {
  float: left;
  background: #F7F7F7;
  width: 31em;
  height: 75em; }
  body #stream #raw_content {
    display: none; }
  body #stream #stream_content ul {
    list-style-type: none;
    padding: 30px; }
    body #stream #stream_content ul li {
      padding: 10px;
      color: #555;
      border: 1px solid #CCC;
      margin: 14px 4px; }
